.retry-btn {
  background-color: #4656a1;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.img-logo {
  margin-right: 10px;
}
.para-name {
  font-weight: bold;
}
.failed-img-logo {
  width: 400px;
}
.list-item {
  margin-bottom: 70px;
  margin-right: 100px;
  width: 100px;
}

.DivForFailedViewHome {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-style {
  color: #000000;
  text-decoration: none;
  display: flex;
}

.UnorderList {
  list-style-type: none;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.HomeContainer {
  margin-left: 60px;
}
